<div class="container new-form">
  <div class="contex-form">
    <h1>list your Sloth</h1>
    <p>lets set up your listing</p>
  </div>
<%= simple_form_for @sloth do |f| %>
  <div class="form-wrapper">
    <%= f.input :name %>
    <%= f.input :address, input_html: { class: 'auto-address-fill' } %>
    <%= f.input :price %>
  </div>
    <%= f.input :details %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, required: true %>

  <div class="btn-wrapper">
    <%= link_to "Back", sloths_path, class: "btn-back" %>
    <%= f.submit "create new sloth", class: "btn" %>
  </div>
  <% end %>
</div>
