<h1>New Sloth</h1>

<div class="container">
<%= simple_form_for @sloth do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :details %>
  <%= f.input :price %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit "Add a review", class: "btn btn-primary" %>
  <% end %>

<%= link_to "Back", sloths_path, class: "btn btn-primary" %>
</div>
