<h1>New Sloth</h1>
<div class="container">
<%= simple_form_for @sloth do |f| %>
  <%= f.input :name %>
  <%= f.input :address, input_html: { class: 'auto-address-fill' } %>
  <%= f.input :details %>
  <%= f.input :price %>
  <%= f.input :photos, as: :file, input_html: { multiple: true }, required: true %>
  <%= f.submit "create new sloth", class: "btn btn-dark" %>
  <% end %>
<div>
<%= link_to "Back", sloths_path, class: "btn btn-dark m-3" %>
</div>
</div>
