<div class="container">
  <h1><%= @sloth.name.upcase %></h1>
  <% if @sloth.photo? %>
    <%= cl_image_tag @sloth.photo.path, crop: :fill %>
  <% else %>
    <%= image_tag 'https://www.publicdomainpictures.net/pictures/190000/velka/sloth-drawing.jpg', width: 350 %>
  <% end %>

  <h3>ABOUT <%= @sloth.name.upcase %></h3>
    <p> <%= @sloth.details %> </p>

  <div>
    <%= link_to "Book", new_sloth_booking_path(@sloth, @booking)%>
  </div>
  <div>
  <% if current_user == @sloth.user %>
    <%= link_to "Edit", edit_sloth_path(@sloth)%>
  <% end %>

  <% if current_user == @sloth.user %>
    <%= link_to "Delete", sloth_path(@sloth), method: :delete, data: { confirm: 'Are you sure?' }%>
  <% end %>
  </div>
</div>
