<div class="container show">
  <div class="top-wrapper">
    <h1 style="margin: 0;"><%= @sloth.name.upcase %></h1>
    <i class="fas fa-map-marker"><h2><%= @sloth.address %></h2></i>
  </div>

  <div class="show-wrapper">
    <div class="intro">
      <div class="show-photo">
        <% if @sloth.photos.attached? %>
          <% @sloth.photos.each do |photo| %>
            <%= cl_image_tag photo.key, :crop=>"fill" %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="about">
      <h2>ABOUT <%= @sloth.name.upcase %></h2>
      <p><%= @sloth.details %></p>
      <p class="price"><span>Price: </span><%= @sloth.price %>€</p>
    </div>
  </div>

  <div class="form-wrapper">
    <% if current_user != @sloth.user %>
    <h2>Book <%= @sloth.name %></h2>
    <%= simple_form_for [@sloth, @booking] do |f| %>
      <div class="from-group-wrapper">
        <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      </div>
      <%= f.submit "Create your booking", class:"book-btn"%>
      <% end %>
    <% end %>
  </div>

  <div class="btn-wrapper">
    <div>
      <% if current_user == @sloth.user %>
        <%= link_to "Edit", edit_sloth_path(@sloth), class: "btn m-3"%>
      <% end %>
      <% if current_user == @sloth.user %>
        <%= link_to "Delete", sloth_path(@sloth), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn m-3"%>
      <% end %>
    </div>
  </div>

  <div class="reviews">
    <h2>Reviews</h2>
    <div class="review">
        <% if @reviews.blank? %>
          <h3 id="add-first-review">No reviews yet</h3>
        <% end %>
        <% if @reviews.any? %>
          <% @reviews.each do |review| %>
            <div class="one-review">
              <p class="review-content">"<%= review.content %>" &emsp; -- <%= review.booking.user.username %></p>
              <div class="hearts">
                <% review.rating.times do  %>
                  <span class="fas fa-heart checked" style="color:#ef233c;"></span>
                <% end %>
                <% review.blank_stars.times do %>
                  <span class="fas fa-heart" style="color: #ffa69e;"></span>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>

  <div id="map", class="mt-3 container",
     style="width: 100%; height: 300px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
