<div class ="container from-edit">
  <h2>Edit booking for <%= @booking.sloth.name %></h2>

  <div class="edit-form">
    <div class="form-wrapper">
      <%= simple_form_for [@sloth, @booking] do |f| %>
      <div class="date-wrapper">
         <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      </div>
      <%= f.submit "Update your booking", class:"btn" %>
      <% end %>
    </div>
  </div>

  <%= link_to 'Back', @booking %> |
  <%= link_to 'Home', bookings_path %>
</div>
