<div class="container bookings">
<h1>your Sloth bookings</h1>
  <div class="cards">
    <% @bookings.each do |booking| %>
      <%= link_to booking_path(booking) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path booking.sloth.photos.first.key %>)">
          <h2 class="name"><%= booking.sloth.name %></h2>
          <h4 class="start-date">From: <%= booking.start_date %></h4>
          <h4 class="end-date">Until: <%= booking.end_date %></h4>
          <h4 class="cost">Total cost: <%= booking.total_cost %>€</h4>
        </div>
      <% end %>
    <% end %>
  </div>

  <div >
    <%= link_to "Back", sloths_path, class: "btn m-3"%>
  </div>
</div>
