<div class="container bookings-show">
  <div class="top-wrapper">
    <h1>Your booking for <%= @booking.sloth.name.upcase %></h1>
    <i class="fas fa-map-marker">
      <h2><%= @booking.sloth.address %></h2>
    </i>
  </div>
  <div class="top-wrapper second-wrapper">
    <h2>From<span> <%= @booking.start_date %></span> to <span><%= @booking.end_date %></span></h2>
    <h3>Total cost: <%= @booking.total_cost %>€</h3>
  </div>
  <div class="bookings-wrapper">
    <div class="bookings-img">
      <% if @booking.sloth.photos.attached? %>
        <% @booking.sloth.photos.each do |photo| %>
          <%= cl_image_tag photo.key, :crop=>"fill" %>
        <% end %>
      <% end %>
    </div>
    <div class="bookings-context">
      <h3>ABOUT <%= @booking.sloth.name.upcase %></h3>
      <p><%= @booking.sloth.details %></p>
    </div>
  </div>

  <div class="review-form">
    <h2>Add a review for <%= @booking.sloth.name.upcase %></h2>
    <%= simple_form_for [@booking, @review] do |f| %>
      <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
      <%= f.input :content %>
      <%= f.submit "Send your review", class:"review-btn"%>
    <% end %>
  </div>

  <div >
    <%= link_to "Back", bookings_path, class: "btn btn-primary m-3"%>

    <% if current_user == @booking.user %>
      <%= link_to "Edit booking", edit_booking_path(@booking), class: "btn m-3"%>
    <% end %>

    <%# if current_user == @booking.user %>
      <%#= link_to "Review", new_booking_review_path(@booking), class: "btn btn-primary m-3"%>
    <%# end %>

    <% if current_user == @booking.user %>
      <%= link_to "Delete booking", booking_path(@booking), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn m-3"%>
    <% end %>
  </div>
</div>
